@import "./theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-ys: #322F79;

.btn-color-ys {
  background-color: $color-ys !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-colunm-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-colunm-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

