@import "./theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-ys: #322F79;
$background-color-dark: #222326;

.btn-color-ys {
  background-color: $color-ys !important;
}

.background-color-dark {
  background-color: $background-color-dark;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-colunm-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.home-img-logo {
  margin-bottom: 10%;
  width: 70%;
  max-width: 370px;
  min-width: 270px;
}
