<div class="contact-component mt-4 text-center">
  <form class="w-100">
    <mat-form-field class="input-contact" appearance="outline" autocomplete="off">
      <mat-label>Seu nome</mat-label>
      <input matInput placeholder="Ex. João Santos">
    </mat-form-field>

    <mat-form-field class="input-contact" appearance="outline" autocomplete="off">
      <mat-label>Seu telefone</mat-label>
      <input type="text" matInput placeholder="(00) 0 0000-0000" mask="(00) 0 0000-0000">
    </mat-form-field>
  </form>
</div>
