<div class="home-container flex-column-center">
  <div class="flex-column-center">
    <img class="home-img-logo mt-2" [src]="imageLogo" alt="Logo Seu Esporte">

    <div class="info">
      <app-card-info [title]="title" [description]="description"></app-card-info>
    </div>

    <app-contact *ngIf="currentRoute == routeEnum.Contact"
                 [contact]="contact"
                 (onGetContact)="getContact($event)">
    </app-contact>

    <div class="info flex-between">
      <button mat-stroked-button
        color="primary"
        [disabled]="backBloquedBtn"
        (click)="back()">
        VOLTAR
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="advanceBloquedBtn"
        (click)="advance()">
        AVANÇAR
        <i class="fas fa-angle-right ms-2"></i>
      </button>
    </div>
  </div>
</div>
